*{
  font-family: sans-serif;
  box-sizing: border-box;
  
}
#_x31_-outline-expand{
  width: 18.75rem;
  margin: 1% auto;
  display: block;
  background-color: grey;
  
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, .98,  1, -0.02);
  transition: all .5s linear;
  
}
#_x31_-outline-expand:active{
  width: 45.25rem;
  height: 45.25rem;
  background-color: black;
  border-width: 0.625rem;
  border-radius: 50%;
  transform: rotate(180deg)
}

.c1, .c2, .c3, .p0, .p1, .p2, .p3, .p4, .p5, .c6, .c7, .c8, .c9, .c10, .c11,
.c12, .c13, .c14, .c15, .c16, .c17, .c18, .c19, .c20, .c21, .c22, .c23{
  stroke: rgb(38, 145, 28);
  stroke-width: 1px;
  stroke-dashoffset: 0;
  stroke-dasharray: 2000;
}
.p0{
  animation:p0 6s ease-in-out;
}
.p1{
  animation:p1 7s ease-in-out;
}
.p2{
  animation:p2 8s ease-in-out;
}
.p3{
  animation:p3 9s ease-in-out;
}
.p4{
  animation:p4 10s ease-in-out;
}
.p5{
  animation:p5 11s ease-in-out;
}
.c3 {
  animation:p5 13s ease-in-out;
}
.c1 {
  animation: p5 19s ease-in-out;
}
.c2 {
  animation: p5 19s ease-in-out;
}
.c6 {
  animation: p5 25s ease-in-out;
}
.c7 {
  animation: p5 25s ease-in-out;
}
.c8 {
  animation: p5 25s ease-in-out;
}
.c9 {
  animation: p5 25s ease-in-out;
}
.c10 {
  animation: p5 25s ease-in-out;
}
.c11 {
  animation: p5 25s ease-in-out;
}
.c12 {
  animation: p5 25s ease-in-out;
}
.c13 {
  animation: p5 25s ease-in-out;
}
.c14 {
  animation: p5 25s ease-in-out;
}
.c15 {
  animation: p5 25s ease-in-out;
}
.c16 {
  animation: p5 25s ease-in-out;
}
.c17 {
  animation: p5 25s ease-in-out;
}
.c18 {
  animation: p5 25s ease-in-out;
}
.c19 {
  animation: p5 25s ease-in-out;
}
.c20 {
  animation: p5 25s ease-in-out;
}
.c21 {
  animation: p5 25s ease-in-out;
}














@keyframes p0 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}
@keyframes p1 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}

@keyframes p2 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}

@keyframes p3 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}

@keyframes p4 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}
@keyframes p5 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}

@keyframes c3 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}

@keyframes c2 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}

@keyframes c1 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}
@keyframes c6 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}
@keyframes c7 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}
@keyframes c8 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}
@keyframes c9 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}
@keyframes c10 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}
@keyframes c11 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}
@keyframes c12 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}
@keyframes c13 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}
@keyframes c14 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}
@keyframes c15 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}
@keyframes c16 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}
@keyframes c17 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}
@keyframes c18 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}
@keyframes c19 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}
@keyframes c20 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}
@keyframes c21 {
  0%
  {
    stroke-dashoffset: 2000;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}
h2{
  font-size: 3rem;
  color: white;
  text-align: center;
}

span{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
}

input[type=text]{
    
  height: 5rem;
  border: 1px solid white;
  background-color: black;
  font-size: 3rem;
  text-align: center;
  width: 21.25rem;
  border-radius: 20px;
  
  position: relative;
  margin:auto;
  margin-top: 30px;
  display: flex;
  flex-basis: 60%;
}




input[type=submit]{
  margin:auto;
  
  flex-basis: 60%;
  margin-top: 1.875rem;
  background-color: black;
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1rem;
  position: relative;
  font-size:0.875rem;
      display:block;
      
      
      width:30%;
  
 
  opacity: 0.6;
  transition: 0.15s;
  
  text-decoration: none;
  cursor: pointer;
  
}

input[type=submit]{
  margin:auto;
  border: none;
  flex-basis: 60%;
  margin-top: 1.875rem;
  width: 100%;
  text-transform: uppercase;
  background-color: white;
  color: red;
  font-size: 3rem;
  padding: 1rem 2rem;
  text-align: center;
  position: relative;

}





div.example {
  font-size: 0.625rem;
  text-align: center;
}



.column {
  width: 100%;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;  
}


.image-banner{
  display: none;
}
body{
  background-color: black;
  color: white;
  font-size: 14px;
}

/* This is for the desktop view */
@media screen and (min-width: 601px) {
  div.example {
    font-size: 1.5625rem;
    
    align-items: center;
    text-align: center;
  }
  h2{
    font-size: 3.5rem;
    text-align: center;
    color: black;
    
  }
  span{
    font-size: 2rem;
    color: black;
    text-transform: lowercase;
  }
  .image-banner{
    display: block;
    width: 100%;
    padding-bottom: 1.875rem;
    height: 12.5rem;
  }
  input[type=submit]{
    font-size: 3rem;
    
  }
  input[type=text] {
    text-align: center;
    margin:auto;
    margin-top: 30px;
    display: flex;
    flex-basis: 60%;
    border: 1px solid black;
    border-radius: 20px;
    border-width: 5px;
    height: 50px;
    width: 21.25rem;
    position: relative;
    font-size: 3rem;
    background-color: white;
    
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 6px;
    text-align: center;
    
  }
  input[type=submit]:hover{
    opacity: 1;
    
  
  }
  
  .col{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
  }
  .col .controller {
    width: 30%;
  }
  body{
    background-color: white;
    color: black;
    
  }
  input[type=submit]{
  
    background-color: black;
    
    color: white;
    
    font-size: 1.5rem;
    position: relative;
    
        display:block;
        
        
        width:30%;
    
   
    
    transition: opacity 0.15s;
    
    text-decoration: none;
    cursor: pointer;
    
  }
  
  input[type=submit]:hover{
    opacity: 0.6;
    
  
  }
  
  
 
}


html{overflow-x: hidden;}

